<a href="https://colab.research.google.com/github/olaso14/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#If Statement 

a = 12

b = 100

if a<b:

 print("a is less than b")

a is less than b

In [3]:
#Elif Statement
if a<b:
 print("a is less than b")
elif a>b:
 print("a is greater than b")

a is less than b

In [4]:
if a<b:
 print("a is less than b")
elif a>b:
 print("a is greater than b")
else:
 print("a is equal to b")

a is less than b

In [6]:
#Short Hand If Statement

c = 10;

d = 5

if c>d: print("c>d")

c>d

In [7]:
#Short Hand If Else Statement

print("c>d") if c>d else print("d>c")

c>d

In [8]:
#And Statement
if 5>10 and 0>4:
 print("both statement are true")
else:
 print("one of the statements is false/both statement are not true")

one of the statements is false/both statement are not true

In [9]:
#Or Statement
if 5>10 or 8>4:
 print("True")
else:
 print("False")

True

In [10]:
#Bitwise operator ^ (xor)
e = 4 #0100 in binary
f = 2 #0010 in binary

e^f

6

In [11]:
#Nested If Statement

x = 41
if x>10:
 print ("number is above 10")
 if x>20:
  print("number is above 20")
  if x>30:
   print("number is above 30")
   if x>40:
    print("number is above 40")
   else:
     print("number is less than 50")

number is above 10
number is above 20
number is above 30
number is above 40

In [12]:
#Application Number 1: Write a program that determine if the input age is qualified to vote or not.
#The qualifying age is 18 years old and above

age = int(input("Enter Age : "))

if age>=18:
        status="Eligible"
else:
    status="Not Eligible"

print("You are ",status," for Vote.")

Enter Age : 12
You are  Not Eligible  for Vote.

In [15]:
#Application Number 2: Write a program determine if Possitive Negative or Zero
num = float(input("Input a number: "))
if num > 0:
   print("It is Positive number")
elif num == 0:
   print("It is Zero")
else:
   print("It is a Negative number")

Input a number: 12
It is Positive number

In [16]:
#For loop Statement
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
 print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [17]:

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:

 print(y)

 if y == "Thursday":

  break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [18]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
 print(y)
 if y == "Thursday":
  break
 print(y)

Sunday
Sunday
Monday
Monday
Tuesday
Tuesday
Wednesday
Wednesday
Thursday

In [19]:

for x in "week":

 print(x)

w
e
e
k

In [21]:
#Range () function
for x in range(6):
 print(x)

0
1
2
3
4
5

In [22]:
for x in range(2,6+1,2):
 print(x)

2
4
6

In [43]:
adjective = ["red", "bilog", "tasty"]
fruits = ["apple", "banana", "cherry"]
  
for x in adjective:
  for y in fruits:
   print(x,y)

red apple
red banana
red cherry
bilog apple
bilog banana
bilog cherry
tasty apple
tasty banana
tasty cherry

In [42]:
i = 1
while i<6:
 print(i)
 i+=1

1
2
3
4
5

In [65]:
i = 1
while i<6:
  print(i)
  if i ==3:
   break
  i+=1

1
2
3

In [66]:
#Using while loop and break statement, the ouput is only 3
i = 3
while i<=3:
 print(i)
 break

3