<a href="https://colab.research.google.com/github/OlasoPatrickJonesV/PLNG211-QC/blob/main/Laboratory_Activity_1_(Finals).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
#1
arr = np.array([3,6,9,10,15,33,48,50,89,90])
index = [0,1,2,3,4,5,6,7,8,9]
print("Array List")
print(arr[0])
print(arr[1])
print(arr[2])
print(arr[3])
print(arr[4])
print(arr[5])
print(arr[6])
print(arr[7])
print(arr[8])
print(arr[9])
print("Sum:",arr[index].sum())

Array List
3
6
9
10
15
33
48
50
89
90
Sum: 353

In [37]:

#2
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original Number:",numbers)


numbers.append("20")
print("New Number:",numbers)

Original Number: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
New Number: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '20']

In [36]:
#3
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("Original Number:",numbers)

numbers.insert(1,"20")

print("New Number:",numbers)

Original Number: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
New Number: [1, '20', 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
#4
numbers = [5, 4, 3, 2, 1]
print("Original Number",numbers)

numbers.reverse()
print("New Number",numbers)

Original Number [5, 4, 3, 2, 1]
New Number [1, 2, 3, 4, 5]

In [42]:
#5
numbers = [5, 4, 3, 2, 1]
print("Length of the array is:",len(numbers))

Length of the array is: 5